# Python
__pycache__/
*.py[cod]
*.class
*.so
.Python
env/
venv/
.venv/
ENV/
build/
dist/
*.egg-info/
*.egg

# IDE
.vscode/
.idea/
*.swp

# Project Specific
backend/data/*.db
backend/data/backups/*.db
backend/data/raw/*
*.log
logs/
ERROR.spec
